@use "normalize.scss" as *;

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.woff2") format("woff2");
  font-weight: 700;
}
h1 {
  font-family: "Roboto";
  font-weight: 600;
  font-size: 96px;
  line-height: 177%;
  letter-spacing: -0.02em;
  color: #5e00ff;
}
h2 {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0.04em;
  color: #000;
}
.container {
  max-width: 910px;
  margin: 0 auto;
}
.header {
  margin-bottom: 80px;
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__logo {
    max-width: 80px;
  }
  &__link {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 16px;
    line-height: 75%;
    letter-spacing: 0.09em;
    color: #000;
    transition: color 0.2s ease-in-out;
  }
  &__link:not(:last-child) {
    margin-right: 10px;
  }
  &__link:hover {
    color: #ff7403;
  }
}
.hero {
  margin-bottom: 80px;
  &__text {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 32px;
    line-height: 112%;
    letter-spacing: 0.05em;
    color: #ff7403;
  }
}
.card {
  margin-bottom: 80px;
  &__title {
    margin-bottom: 50px;
  }
}
.change-data {
  padding-bottom: 80px;
  &__form {
    border: 2px solid #ff7403;
    border-radius: 12px;
    width: 100%;
    min-height: 328px;

    background: #fff;
    padding: 43px 54px;
    position: relative;
  }
  &__title {
    margin-bottom: 50px;
  }
  &__form-input {
    width: 167px;
    height: 31px;
    border: 1px solid #ff7403;
    color: #000;
    padding-left: 7px;
    border-radius: 12px;
  }
  &__form-flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 16px;
    margin-bottom: 11px;
  }
  &__form-text {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 16px;
    line-height: 75%;
    letter-spacing: 0.09em;
    color: #000;
    margin-bottom: 19px;
  }
  &__submit {
    position: absolute;
    bottom: 43px;
    right: 54px;
    border-radius: 12px;
    width: 167px;
    height: 31px;
    background: #5e00ff;
    color: #fff;
  }
  &__textarea{
    width: 584px;
    height: 119px;
    border: 1px solid #ff7403;
    border-radius: 12px;
    resize: none;
    padding-left: 7px;
    padding-top: 13px;
  }
}
.file-input {
  display: none;
}

.custom-file-upload {
  font-family: "Roboto";
  display: block;
  width: 167px;
  height: 31px;
  border: 1px solid #ff7403;
  color: #000;
  text-align: center;
  line-height: 31px;
  cursor: pointer;
  border-radius: 12px;
}
.change-data__radio-buttons {
  display: flex; /* Используем flexbox для выравнивания */
  gap: 10px; /* Расстояние между кнопками */
}

input[type="radio"] {
  display: none; /* Скрываем стандартный radio input */
}

.custom-radio {
  width: 11px; /* Ширина радиокнопки */
  height: 11px; /* Высота радиокнопки */
  border: 2px solid #000; /* Цвет обводки */
  border-radius: 50%; /* Делает элемент кругом */
  position: relative; /* Для позиционирования внутреннего кружка */
  cursor: pointer; /* Указатель в виде руки */
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-radio::after {
  content: "";
  width: 6px; /* Размер внутреннего оранжевого кружка */
  height: 6px; /* Размер внутреннего оранжевого кружка */
  background-color: #ff7403; /* Цвет внутреннего кружка */
  border-radius: 50%; /* Делаем внутренний кружок круглым */
  position: absolute; /* Позиция относительно внешнего круга */
  opacity: 0; /* По умолчанию скрыт */
  transition: opacity 0.2s; /* Плавный переход */
}

input[type="radio"]:checked + .custom-radio::after {
  opacity: 1; /* Показываем внутренний кружок, когда radio выбрана */
}

label {
  cursor: pointer; /* Указатель в виде руки */
}
#map {
  width: 100%;
  height: 500px; /* Высота карты */
  margin-bottom: 50px;
}
.marker-form__subtitle {
  margin-bottom: 30px;
}
.marker-form {
  &__input {
    max-width: 400px;
    width: 100%;
    height: 40px;
    padding-left: 7px;
    color: #000;
    border: 1px solid #ff7403;
    border-radius: 12px;
  }
  &__button {
    width: 200px;
    height: 40px;
    background: #5e00ff;
    border-radius: 12px;
    color: #fff;
    margin-top: 30px;
  }
}
.footer {
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    max-width: 50px;
  }
  &__col {
    display: flex;
    flex-direction: column;

  }
  &__flex {
    display: flex;
    column-gap: 36px;
  }
  &__text {
    font-weight: 400;
    font-size: 12px;
    line-height: 50%;
    letter-spacing: 0.12em;
    color: #000;
    margin-bottom: 6px;
  }
  &__left{
    display: flex;
    column-gap: 31px;
  }
  &__link:hover{
    color: #ff7403;
  }
  &__link {
    font-weight: 400;
    font-size: 10px;
    line-height: 60%;
    letter-spacing: 0.15em;
    color: #000;
    transition: color .3s ease-in-out;
  }
  &__link:not(:last-child) {
    margin-bottom: 7px;
  }
}
#manager-form{
    padding: 43px 162px;
}
.change-data__submit--right{
    right: 162px;
}